<!-- Sidebar  -->
<div class="iq-sidebar">
  <div class="iq-sidebar-logo d-flex justify-content-between">
    <a href="/" class="header-logo">
      <!-- <img
        src="../admin/images/logo.png"
        class="img-fluid rounded-normal"
        alt=""
      /> -->
      <div class="logo-title">
        <span class="text-dark text-uppercase">
          Stuido
          <span class="text-primary text-uppercase">X</span></span
        >
      </div>
    </a>
    <div class="iq-menu-bt-sidebar">
      <div class="iq-menu-bt align-self-center">
        <div class="wrapper-menu">
          <div class="main-circle"><i class="las la-bars"></i></div>
        </div>
      </div>
    </div>
  </div>
  <div id="sidebar-scrollbar">
    <nav class="iq-sidebar-menu">
      <ul id="iq-sidebar-toggle" class="iq-menu">
        <li>
          <a href="/admin/" class="iq-waves-effect"
            ><i class="las la-house-damage iq-arrow-left"></i
            ><span>Dashboard</span></a
          >
        </li>

        <li>
          <a
            href="#artists"
            class="iq-waves-effect"
            data-toggle="collapse"
            aria-expanded="false"
            ><span class="ripple rippleEffect"></span
            ><i class="fa fa-users iq-arrow-left"></i><span>Artists</span
            ><i class="ri-arrow-right-s-line iq-arrow-right"></i
          ></a>
          <ul
            id="artists"
            class="iq-submenu collapse"
            data-parent="#iq-sidebar-toggle"
          >
            <li>
              <a href="/admin/artists/"
                ><i class="ion-wrench"></i>Manage Artists</a
              >
            </li>
            <li>
              <a href="/admin/artists/new"
                ><i class="ion-plus-circled"></i>Add New</a
              >
            </li>
          </ul>
        </li>

        <li>
          <a
            href="#tracks"
            class="iq-waves-effect"
            data-toggle="collapse"
            aria-expanded="false"
            ><span class="ripple rippleEffect"></span
            ><i class="fas fa-music iq-arrow-left"></i><span>Music</span
            ><i class="ri-arrow-right-s-line iq-arrow-right"></i
          ></a>
          <ul
            id="tracks"
            class="iq-submenu collapse"
            data-parent="#iq-sidebar-toggle"
          >
            <li>
              <a href="/admin/tracks"
                ><i class="ion-wrench"></i>Manage Tracks</a
              >
            </li>
            <li>
              <a href="/admin/tracks/new"
                ><i class="ion-plus-circled"></i>Add New</a
              >
            </li>
          </ul>
        </li>

        <li>
          <a
            href="#albums"
            class="iq-waves-effect"
            data-toggle="collapse"
            aria-expanded="false"
            ><span class="ripple rippleEffect"></span
            ><i class="fas fa-record-vinyl"></i><span>Albums</span
            ><i class="ri-arrow-right-s-line iq-arrow-right"></i
          ></a>
          <ul
            id="albums"
            class="iq-submenu collapse"
            data-parent="#iq-sidebar-toggle"
          >
            <li>
              <a href="/admin/tracks"
                ><i class="ion-wrench"></i>Manage Albums</a
              >
            </li>
            <li>
              <a href="/admin/tracks/new"
                ><i class="ion-plus-circled"></i>Add New</a
              >
            </li>
          </ul>
        </li>

        <li>
          <a
            href="#charts"
            class="iq-waves-effect"
            data-toggle="collapse"
            aria-expanded="false"
            ><span class="ripple rippleEffect"></span
            ><i class="fa fa-headphones iq-arrow-left"></i><span>Charts</span
            ><i class="ri-arrow-right-s-line iq-arrow-right"></i
          ></a>
          <ul
            id="charts"
            class="iq-submenu collapse"
            data-parent="#iq-sidebar-toggle"
          >
            <li>
              <a href="/admin/playlist"
                ><i class="ion-wrench"></i>Manage Charts</a
              >
            </li>
            <li>
              <a href="/admin/playlist/new"
                ><i class="ion-plus-circled"></i>Add New</a
              >
            </li>
          </ul>
        </li>

        <li>
          <a
            href="#events"
            class="iq-waves-effect"
            data-toggle="collapse"
            aria-expanded="false"
            ><span class="ripple rippleEffect"></span
            ><i class="fa fa-chart-bar iq-arrow-left"></i><span>Events</span
            ><i class="ri-arrow-right-s-line iq-arrow-right"></i
          ></a>
          <ul
            id="events"
            class="iq-submenu collapse"
            data-parent="#iq-sidebar-toggle"
          >
            <li>
              <a href="/admin/events"
                ><i class="ion-wrench"></i>Manage Events</a
              >
            </li>
            <li>
              <a href="/admin/events/new"
                ><i class="ion-plus-circled"></i>Add New</a
              >
            </li>
          </ul>
        </li>

        <li>
          <a
            href="#blogs"
            class="iq-waves-effect"
            data-toggle="collapse"
            aria-expanded="false"
            ><span class="ripple rippleEffect"></span
            ><i class="fa fa-chart-bar iq-arrow-left"></i><span>Blogs</span
            ><i class="ri-arrow-right-s-line iq-arrow-right"></i
          ></a>
          <ul
            id="blogs"
            class="iq-submenu collapse"
            data-parent="#iq-sidebar-toggle"
          >
            <li>
              <a href="admin-dashboard.html"
                ><i class="ion-wrench"></i>Manage Events</a
              >
            </li>
            <li>
              <a href="admin-category.html"
                ><i class="ion-plus-circled"></i>Add New</a
              >
            </li>
          </ul>
        </li>

        <li>
          <a
            href="#promotions"
            class="iq-waves-effect"
            data-toggle="collapse"
            aria-expanded="false"
            ><span class="ripple rippleEffect"></span
            ><i class="fa fa-chart-bar iq-arrow-left"></i><span>Promotions</span
            ><i class="ri-arrow-right-s-line iq-arrow-right"></i
          ></a>
          <ul
            id="promotions"
            class="iq-submenu collapse"
            data-parent="#iq-sidebar-toggle"
          >
            <li>
              <a href="admin-dashboard.html"
                ><i class="ion-wrench"></i>Manage Events</a
              >
            </li>
            <li>
              <a href="admin-category.html"
                ><i class="ion-plus-circled"></i>Add New</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
<!-- Sidebar  -->
