<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Studio X</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="../../../admin/images/favicon.ico" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../../admin/css/bootstrap.min.css" />
    <!-- Typography CSS -->
    <link rel="stylesheet" href="../../../admin/css/typography.css" />
    <!-- Style CSS -->
    <link rel="stylesheet" href="../../../admin/css/style.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../../../admin/css/responsive.css" />
    <!-- File pond css -->
    <link rel="stylesheet" href="../../../filepond/filepond.css" />
    <link
      rel="stylesheet"
      href="../../../filepond/filepond-plugin-image-preview.css"
    />

    <script
      defer
      src="../../../filepond/filepond-plugin-file-encode.js"
    ></script>
    <script
      defer
      src="../../../filepond/filepond-plugin-image-preview.js"
    ></script>
    <script
      defer
      src="../../../filepond/filepond-plugin-image-resize.js"
    ></script>
    <script defer src="../../../filepond/filepond.js"></script>
    <!-- File pond css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha384-DfXdzxyaKQhxU6+4F0gru5WT2MzLqdP4XnE+ncER+vSx1+ynvzQq0vhC0RgBwQ+G"
      crossorigin="anonymous"
    />
    <script src="../../../js/sweetAlert.js"></script>
  </head>
  <body class="sidebar-main-active right-column-fixed">
    <!-- loader Start -->
    <div id="loading">
      <div id="loading-center"></div>
    </div>
    <!-- loader END -->
    <!-- Wrapper Start -->
    <div class="wrapper">
      <%- include('../partials/sidebar.ejs') %> <%-
      include('../partials/header.ejs') %> <%-body%>
    </div>
    <!-- Wrapper End -->
    <!-- color-customizer END -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../../../admin/js/jquery.min.js"></script>
    <script src="../../../admin/js/popper.min.js"></script>
    <script src="../../../admin/js/bootstrap.min.js"></script>
    <!-- Appear JavaScript -->
    <script src="../../../admin/js/jquery.appear.js"></script>
    <!-- Countdown JavaScript -->
    <script src="../../../admin/js/countdown.min.js"></script>
    <!-- Counterup JavaScript -->
    <script src="../../../admin/js/waypoints.min.js"></script>
    <script src="../../../admin/js/jquery.counterup.min.js"></script>
    <!-- Wow JavaScript -->
    <script src="../../../admin/js/wow.min.js"></script>
    <!-- Apexcharts JavaScript -->
    <script src="../../../admin/js/apexcharts.js"></script>
    <!-- Slick JavaScript -->
    <script src="../../../admin/js/slick.min.js"></script>
    <!-- Select2 JavaScript -->
    <script src="../../../admin/js/select2.min.js"></script>
    <!-- Owl Carousel JavaScript -->
    <script src="../../../admin/js/owl.carousel.min.js"></script>
    <!-- Magnific Popup JavaScript -->
    <script src="../../../admin/js/jquery.magnific-popup.min.js"></script>
    <!-- Smooth Scrollbar JavaScript -->
    <script src="../../../admin/js/smooth-scrollbar.js"></script>

    <!-- am core JavaScript -->
    <script src="../../../admin/js/core.js"></script>
    <!-- am charts JavaScript -->
    <script src="../../../admin/js/charts.js"></script>
    <!-- am animated JavaScript -->
    <script src="../../../admin/js/animated.js"></script>
    <!-- am kelly JavaScript -->
    <script src="../../../admin/js/kelly.js"></script>
    <!-- am maps JavaScript -->
    <script src="../../../admin/js/maps.js"></script>
    <!-- am worldLow JavaScript -->
    <script src="../../../admin/js/worldLow.js"></script>
    <!-- Style Customizer -->
    <script src="../../../admin/js/style-customizer.js"></script>
    <script src="../../../admin/js/chart-custom.js"></script>
    <!-- Custom JavaScript -->
    <script src="../../../admin/js/custom.js"></script>
    <script defer src="../../../filepond/fileUpload.js"></script>
  </body>
</html>
