<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Studio X</title>
    <!-- <link href="images/logo.png" rel="icon" />
    <link href="images/logo.png" rel="apple-touch-icon" /> -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/../../css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="../../css/aos.css" />
    <link rel="stylesheet" href="../../css/owl.carousel.min.css" />
    <link rel="stylesheet" href="../../css/owl.theme.default.min.css" />

    <link rel="stylesheet" href="../../assets/fontawesome/css/all.min.css" />
    <link
      rel="stylesheet"
      href="../../assets/fontawesome/css/fontawesome.min.css"
    />
    <link rel="stylesheet" href="../../css/style.min.css" />
  </head>
  <body class="bg-dark">
    <main id="mainContent" class="col-12">
      <header class="bg-secondary">
        <nav class="navbar navbar-expand-md navbar-dark">
          <div class="container">
            <a href="/" class="navbar-brand">
              <h1 class="text-light text-lg font-primary">
                Studio <span class="text-primary">X</span>
              </h1>
            </a>

            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navmenu"
            >
              <span class="icon" id="toggle">
                <div class="line line1"></div>
                <div class="line line2"></div>
                <div class="line line3"></div>
              </span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
              <ul class="navbar-nav ms-auto">
                <li class="navbar-item">
                  <a href="/store" class="nav-link text-primary">
                    <i class="fas fa-shopping-cart"></i>
                    Store
                  </a>
                </li>

                <li class="navbar-item">
                  <a href="/charts" class="nav-link text-primary">
                    <i class="fas fa-headphones"></i>
                    Charts
                  </a>
                </li>

                <li class="navbar-item">
                  <a href="#" class="nav-link text-primary">
                    <i class="fas fa-users"></i>
                    Artists
                  </a>
                </li>

                <li class="navbar-item">
                  <a href="/events" class="nav-link text-primary">
                    <i class="fas fa-ticket"></i>
                    Events
                  </a>
                </li>

                <li class="navbar-item">
                  <a href="/blogs" class="nav-link text-primary">
                    <i class="fas fa-comment"></i>
                    Blog
                  </a>
                </li>

                <div class="navbar-item hide-lg">
                  <button class="btn outline btn-primary text-light col-9">
                    <i class="fas fa-user mx-2"></i>
                    Log In or Register
                  </button>
                </div>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <%-body%>
      <footer class="bg-secondary text-white">
        <div class="container py-4">
          <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 text-center">
              <h2>Studio <span class="text-primary">X</span></h2>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
              <h5>About Us</h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                ultricies, dolor sit amet ultrices sodales, nisi nisl
                consectetur est, ac fermentum mauris sem eget arcu.
              </p>
            </div>
            <div class="col-lg-4 col-md-12 mb-4">
              <h5>Contact Us</h5>
              <p>Old Naisi, Zomba MW</p>
              <p>Email: info@redddigital.com</p>
              <p>Phone: +265 234 567 890</p>
            </div>
          </div>
          <hr class="bg-light" />
          <div class="text-center">
            <p>
              &copy; 2023 Studio <span class="text-primary">X </span>. All
              rights reserved.
            </p>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="fab fa-instagram"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="fab fa-youtube"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
    </main>

    <script defer src="../../js/player.js"></script>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap.bundle.min.js"></script>
    <script src="../../js/aos.js"></script>
    <script src="../../js/owl.carousel.min.js"></script>
    <script src="../../js/main.js"></script>
  </body>
</html>
