<section class="col-12">
  <div class="album-details flex ac sa py-4">
    <img src="music/dob.png" alt="" />
    <div class="album-name text-center">
      <h3 class="text-light">Sangonjah</h3>
      <p>Mtolo</p>
    </div>
  </div>
  <div class="container">
    <ul class="album-tracks col-12 p-0 py-3">
      <li class="bg-secondary my-1 px-2 py-3 text-light text-start">
        1. Dobadoba <span class="text-muted"> ft Tadala</span>
      </li>
      <li class="bg-secondary my-1 px-2 py-3 text-light text-start">
        2. Mtolo
      </li>
      <li class="bg-secondary my-1 px-2 py-3 text-light text-start">
        3. Pa Dzana
      </li>
      <li class="bg-secondary my-1 px-2 py-3 text-light text-start">
        4. Ole Ole
      </li>
      <li class="bg-secondary my-1 px-2 py-3 text-light text-start">
        5. Do you rember
      </li>
      <li class="bg-secondary my-1 px-2 py-3 text-light text-start">
        6. I wish
      </li>
      <li class="bg-secondary my-1 px-2 py-3 text-light text-start">
        7. Go Off
      </li>
      <li class="bg-secondary my-1 px-2 py-3 text-light text-start">
        8. Bonus Track
      </li>
    </ul>

    <div class="col-12 text-center mb-5">
      <button
        class="btn-primary col-12"
        style="border: 0; height: 40px; border-radius: 10px"
      >
        Download Album
      </button>
    </div>
  </div>
</section>
