<section style="margin-top: 15vh">
  <div class="container mt-5">
    <div class="row">
      <!-- Blog entries-->
      <div class="col-lg-12">
        <!-- Featured blog post-->
        <div class="card bg-secondary mb-4">
          <a href="#!"
            ><img class="card-img-top" src="music/dob.png" alt="..."
          /></a>
          <div class="card-body">
            <div class="small text-light">January 1, 2023</div>
            <h2 class="card-title text-primary">Featured Post Title</h2>
            <p class="card-text">
              The blantyre based rapper has released his new album called Mtolo.
              The album talks about life from the point of view a ghetto child
              hustling in the streets. Comprising of several with well known
              artists like Tadala, classick and John Doe, the album is set to be
              yet Sangoja's best albums.
            </p>
            <p class="card-text">
              On the contrary to these expectations some artists think the album
              is to basic and will be forgoten with time. In a statement made
              during the live on X interview with rapper X, states that "I
              personally like Sagonja but I think this album is somewhat basic
              and will be forgoten with time". This sparked some anger on social
              media as fans commented with their thoughts that were furious with
              Rapper X's claims. Tell us what you think about the album in the
              comment section below.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
