<section class="blogs mt-5">
  <div class="container mt-5">
    <div class="row">
      <!-- Blog entries-->
      <div class="col-lg-12">
        <!-- Nested row for non-featured blog posts-->
        <div class="row">
          <div class="col-lg-6">
            <!-- Blog post-->
            <div class="card bg-secondary mb-4">
              <a href="#!"
                ><img class="card-img-top" src="images/blog-1.jpg" alt="..."
              /></a>
              <div class="card-body">
                <div class="small text-primary">January 1, 2023</div>
                <h2 class="card-title text-light h4">Who is Dkez Walker?</h2>
                <p class="card-text text-light">
                  In an interview with the street vibes founder and producer, we
                  tak a deep dive to find out about his life.
                </p>
                <a class="btn btn-primary" href="blogsingle.html"
                  >Read more →</a
                >
              </div>
            </div>
            <!-- Blog post-->
            <div class="card bg-secondary mb-4">
              <a href="#!"
                ><img class="card-img-top" src="images/blog-3.jpg" alt="..."
              /></a>
              <div class="card-body">
                <div class="small text-primary">January 16, 2023</div>
                <h2 class="card-title text-light h4">
                  Sean Morgan came through
                </h2>
                <p class="card-text text-light">
                  Earlier this year Sean Morgan visted street vibes studio and
                  was spotted with Dkez Walker. should we expect new music??
                </p>
                <a class="btn btn-primary" href="blogsingle.html"
                  >Read more →</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <!-- Blog post-->
            <div class="card bg-secondary mb-4">
              <a href="#!"
                ><img class="card-img-top" src="images/blog-2.jpg" alt="..."
              /></a>
              <div class="card-body">
                <div class="small text-primary">January 1, 2023</div>
                <h2 class="card-title text-light h4">Post Title</h2>
                <p class="card-text text-light">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Reiciendis aliquid atque, nulla.
                </p>
                <a class="btn btn-primary" href="blogsingle.html"
                  >Read more →</a
                >
              </div>
            </div>
            <!-- Blog post-->
            <div class="card bg-secondary mb-4">
              <a href="#!"
                ><img class="card-img-top" src="images/blog-2.jpg" alt="..."
              /></a>
              <div class="card-body">
                <div class="small text-primary">January 1, 2023</div>
                <h2 class="card-title text-light h4">Post Title</h2>
                <p class="card-text text-light">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a
                  laboriosam.
                </p>
                <a class="btn btn-primary" href="blogsingle.html"
                  >Read more →</a
                >
              </div>
            </div>
          </div>
        </div>
        <!-- Pagination-->
        <nav aria-label="Pagination">
          <hr class="my-0" />
          <ul class="pagination justify-content-center my-4">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true"
                >Newer</a
              >
            </li>
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="#!">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#!">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#!">3</a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="#!">...</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#!">15</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#!">Older</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
