<section class="sign-up-section col-12 py-3 mt-5 mb-2">
  <h3 class="text-center text-primary mb-3 mt-5">SAND FESTIVAL</h3>
  <div class="container">
    <div class="col-12 text-center mb-2">
      <img src="../images/tag.svg" class="col-11" alt="" />
    </div>
    <div class="col-12 flex ac jc">
      <p class="col-11 text-light justify">
        Sunbird sand festival is going to take place in Monkey Bay, Mangochi on
        15th October. Tickets costs K30,000.
      </p>
    </div>
  </div>
</section>

<section class="sign-up-section col-12 mb-2">
  <div class="container">
    <div class="col-md-6">
      <div class="card bg-secondary">
        <form class="form-horizontal">
          <div class="card-body">
            <h3 class="text-center text-light">CARD DETAILS</h3>
            <div class="line my-3 col-12"></div>
            <div class="form-group row">
              <label
                for="fname"
                class="col-sm-12 text-start text-light text-end control-label col-form-label"
                >Full Name</label
              >
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Your Name "
                />
              </div>
            </div>
            <div class="form-group row">
              <label
                for="lname"
                class="col-sm-12 text-start text-light text-end control-label col-form-label"
              >
                Phone Number
              </label>
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Phone Number"
                />
              </div>
            </div>
            <div class="form-group row">
              <label
                for="lname"
                class="col-sm-12 text-start text-light text-end control-label col-form-label"
                >Card Number</label
              >
              <div class="col-sm-9">
                <input
                  type="password"
                  class="form-control"
                  id="lname"
                  placeholder="Card Number"
                  maxlength="8"
                />
              </div>
            </div>
            <div class="form-group row">
              <label
                for="email1"
                class="col-sm-12 text-start text-light text-end control-label col-form-label"
                >CVV</label
              >
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  placeholder="CVV "
                  maxlength="3"
                />
              </div>
            </div>
          </div>
          <div class="card-body">
            <button class="btn btn-primary text-light col-11">
              Buy Ticket
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
