<section class="events col-12 py-3 mt-5 mb-2">
  <h3 class="text-center text-primary mt-5 mb-3">Events</h3>
  <div class="container">
    <p class="text-light p-1">
      Buy event tickets here. Make sure you use the promo code
      <span class="text-primary text-lg">studioX100</span> to get
      <span class="text-primary text-lg">5% off</span> on your purchase. Please
      note that Studio X will not be held liable in case off any event or
      transactional faliures.
    </p>

    <div class="event flex sa ac px-3 py-1 mb-2 bg-secondary">
      <div class="col-2 text-center">
        <h3 class="text-primary">14</h3>
        <p class="text-light">MAY</p>
      </div>
      <div class="col-7">
        <p class="text-light m-0">
          <i class="fas fa-map-marker-alt"></i>
          MUBAS
        </p>
        <small class="text-primary m-0">AKA | Gemini Major</small>
        <p class="text-light">
          <i class="fas fa-clock"></i>
          19:00 CAT
        </p>
      </div>
      <div class="col-2">
        <a href="/event/88" class="btn btn-primary text-light">Buy</a>
      </div>
    </div>

    <div class="event flex sa ac px-3 py-1 mb-2 bg-secondary">
      <div class="col-2 text-center">
        <h3 class="text-primary">25</h3>
        <p class="text-light">AUG</p>
      </div>
      <div class="col-7">
        <p class="text-light m-0">
          <i class="fas fa-map-marker-alt"></i>
          Blantyre sports Club
        </p>
        <small class="text-primary m-0">Lawi | Lulu | Namadingo</small>
        <p class="text-light">
          <i class="fas fa-clock"></i>
          14:00 CAT
        </p>
      </div>
      <div class="col-2">
        <a href="/event/88" class="btn btn-primary text-light">Buy</a>
      </div>
    </div>

    <div class="event flex sa ac px-3 py-1 mb-2 bg-secondary">
      <div class="col-2 text-center">
        <h3 class="text-primary">29</h3>
        <p class="text-light">OCT</p>
      </div>
      <div class="col-7">
        <p class="text-light m-0">
          <i class="fas fa-map-marker-alt"></i>
          Monkey Bay
        </p>
        <small class="text-primary m-0">Mercah | Njuchi | The Wave</small>
        <p class="text-light">
          <i class="fas fa-clock"></i>
          20:00 CAT
        </p>
      </div>
      <div class="col-2">
        <a href="/event/88" class="btn btn-primary text-light">Buy</a>
      </div>
    </div>
  </div>
</section>
