<section class="profile mt-5 col-12 py-3">
  <div class="profile-top col-12">
    <div class="profile-cover col-12 flex ac jc">
      <img src="images/blog-2.jpg" alt="" class="cover-img" />
    </div>
    <div class="profile-details col-12 flex f-col ac jc">
      <div class="avatar flex ac jc mb-2">
        <img src="images/blog-1.jpg" alt="" />
      </div>

      <div class="details col-12 text-center">
        <h1 class="text-light">Dkez Walker</h1>
        <p class="text-light m-0">Producer</p>
        <small class="text-primary font-lg">Hip Hop | Dancehall | Afro</small>
      </div>
    </div>
  </div>
  <div class="col-12 my-2 text-center">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="#"
          ><i class="text-light bg-primary rounded fab fa-facebook-f"></i
        ></a>
      </li>
      <li class="list-inline-item">
        <a href="#"
          ><i class="text-light bg-primary rounded fab fa-twitter"></i
        ></a>
      </li>
      <li class="list-inline-item">
        <a href="#"
          ><i class="text-light bg-primary rounded fab fa-instagram"></i
        ></a>
      </li>
      <li class="list-inline-item">
        <a href="#"
          ><i class="text-light bg-primary rounded fab fa-youtube"></i
        ></a>
      </li>
    </ul>
  </div>
</section>

<section class="media col-12 mb-2">
  <ul class="nav nav-tabs flex sa mb-3" role="tablist">
    <li class="col-3 nav-item">
      <a
        class="nav-link active btn"
        data-bs-toggle="tab"
        href="#singles"
        role="tab"
        aria-selected="false"
      >
        Singles
      </a>
    </li>
    <li class="col-3 nav-item">
      <a
        class="nav-link btn text-center"
        data-bs-toggle="tab"
        href="#albums"
        role="tab"
        aria-selected="false"
      >
        Albums
      </a>
    </li>
    <li class="col-3 nav-item">
      <a
        class="nav-link btn"
        data-bs-toggle="tab"
        href="#videos"
        role="tab"
        aria-selected="false"
      >
        Videos
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="singles" role="tabpanel">
      <div class="col-12">
        <h1 class="text-light text-center my-4">Singles</h1>
        <div class="audios col-12 flex f-col ac p-2">
          <div class="featured-carousel owl-carousel">
            <div class="item">
              <div class="box bg-secondary py-2 flex f-col ac jc">
                <img src="music/bola.png" class="rounded" alt="" />
                <p class="text-light my-1">Classick</p>
                <p class="text-primary m-0">Bola Kunthanzi</p>
              </div>
            </div>

            <div class="item">
              <div class="box bg-secondary py-2 flex f-col ac jc">
                <img src="music/tulukani.png" class="rounded" alt="" />
                <p class="text-light my-1">Blaze</p>
                <p class="text-primary m-0">Tulukani</p>
              </div>
            </div>

            <div class="item">
              <div class="box bg-secondary py-2 flex f-col ac jc">
                <img src="music/osama.png" class="rounded" alt="" />
                <p class="text-light my-1">Bee Jay</p>
                <p class="text-primary m-0">Osama</p>
              </div>
            </div>

            <div class="item">
              <div class="box bg-secondary py-2 flex f-col ac jc">
                <img src="music/bwaxy.png" class="rounded" alt="" />
                <p class="text-light my-1">Bwaxy</p>
                <p class="text-primary m-0">Samakhala Kwanu</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="albums" role="tabpanel">
      <div class="col-12">
        <h1 class="text-light text-center my-4">Albums</h1>

        <div class="albums mb-3 col-12 flex ac f-col">
          <div class="album-carousel owl-carousel">
            <div class="item">
              <div class="album flex ac jc f-col">
                <div class="album-art mb-1">
                  <img src="music/bwaxy.png" alt="" />
                </div>
                <h3 class="text-light font-lg m-0">Tulukani</h3>
                <p class="text-primary m-0">2018</p>
              </div>
            </div>

            <div class="item">
              <div class="album flex ac jc f-col">
                <div class="album-art mb-1">
                  <img src="music/tulukani.png" alt="" />
                </div>
                <h3 class="text-light font-lg m-0">Zako</h3>
                <p class="text-primary m-0">2015</p>
              </div>
            </div>

            <div class="item">
              <div class="album flex ac jc f-col">
                <div class="album-art mb-1">
                  <img src="music/bola.png" alt="" />
                </div>
                <h3 class="text-light font-lg m-0">Balling</h3>
                <p class="text-primary m-0">2013</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="videos" role="tabpanel">
      <div class="col-12">
        <h1 class="text-light text-center">Videos</h1>
        <div class="videos col-12 text-center p-2">
          <div class="video flex f-col ac jc mb-4">
            <div class="video-container">
              <iframe
                src="https://www.youtube.com/embed/ZI3r4HK_stE"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </div>
            <p>Pressure Makes Diamonds</p>

            <div class="flex w-100 sa">
              <button class="btn-primary col-3 rounded-pill">
                <i class="fas fa-like mx-1"></i>
                10K
              </button>
              <button class="btn-primary col-3 rounded-pill">
                <i class="fas fa-dislike mx-1"></i>
                700
              </button>
              <button class="btn-primary col-3 rounded-pill">
                <i class="fas fa-share mx-1"></i>
                3K
              </button>
            </div>
          </div>

          <div class="video flex f-col ac jc mb-4">
            <div class="video-container">
              <iframe
                src="https://www.youtube.com/embed/ZI3r4HK_stE"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </div>
            <p>Pressure Makes Diamonds</p>

            <div class="flex w-100 sa">
              <button class="btn-primary col-3 rounded-pill">
                <i class="fas fa-like mx-1"></i>
                10K
              </button>
              <button class="btn-primary col-3 rounded-pill">
                <i class="fas fa-dislike mx-1"></i>
                700
              </button>
              <button class="btn-primary col-3 rounded-pill">
                <i class="fas fa-share mx-1"></i>
                3K
              </button>
            </div>
          </div>

          <div class="video flex f-col ac jc mb-4">
            <div class="video-container">
              <iframe
                src="https://www.youtube.com/embed/ZI3r4HK_stE"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </div>
            <p>Pressure Makes Diamonds</p>

            <div class="flex w-100 sa">
              <button class="btn-primary col-3 rounded-pill">
                <i class="fas fa-like mx-1"></i>
                10K
              </button>
              <button class="btn-primary col-3 rounded-pill">
                <i class="fas fa-dislike mx-1"></i>
                700
              </button>
              <button class="btn-primary col-3 rounded-pill">
                <i class="fas fa-share mx-1"></i>
                3K
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
