<div class="col-md-6">
  <div class="card bg-secondary text-light">
    <form class="form-horizontal">
      <div class="card-body">
        <h4 class="card-title">Sign Up</h4>
        <div class="form-group row">
          <label
            for="fname"
            class="col-sm-3 text-start control-label col-form-label"
            >Username</label
          >
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control"
              id="fname"
              placeholder="Usrname"
            />
          </div>
        </div>
        <div class="form-group row">
          <label
            for="email"
            class="col-sm-3 text-start control-label col-form-label"
            >Email</label
          >
          <div class="col-sm-9">
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Email Name Here"
            />
          </div>
        </div>
        <div class="form-group row">
          <label
            for="lname"
            class="col-sm-3 text-start control-label col-form-label"
            >Password</label
          >
          <div class="col-sm-9">
            <input
              type="password"
              class="form-control"
              id="lname"
              placeholder="Password Here"
            />
          </div>
        </div>
        <div class="form-group row">
          <label
            for="email1"
            class="col-sm-3 text-start control-label col-form-label"
            >Company</label
          >
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control"
              id="email1"
              placeholder="Company Name Here"
            />
          </div>
        </div>
        <div class="form-group row">
          <label
            for="cono1"
            class="col-sm-3 text-start control-label col-form-label"
            >Phone No</label
          >
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control"
              id="cono1"
              placeholder="Contact No Here"
            />
          </div>
        </div>
        <div class="form-group row">
          <label
            for="cono1"
            class="col-sm-3 text-start control-label col-form-label"
            >Message</label
          >
          <div class="col-sm-9">
            <textarea class="form-control"></textarea>
          </div>
        </div>
      </div>
      <div class="border-top">
        <div class="card-body">
          <button type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
